.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.icon-wrapper:hover {
  background-color: var(--secondary);
}

lucide-angular {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted-foreground);
}
