<app-dialog-menu
  [disabled]="!contentValue()?.length"
  [loading]="(isLoading$ | async) ?? false"
  [action]="handleEditReview.bind(this, review?.id || -1)"
  (onClose)="onClose()"
  *ngIf="isOwner"
  openButtonText="Edit"
  type="secondary"
  title="Edit Review"
  subTitle="Update your review for Trattoria Italiana. Your honest feedback helps others make better dining choices."
>
  <div class="stars">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <div
        (mouseenter)="tempRatingValue.set(star)"
        (mouseleave)="tempRatingValue.set(ratingValue())"
        (click)="ratingValue.set(star)"
        class="star-review"
        [ngClass]="{
          filled: star <= tempRatingValue(),
          empty: star > tempRatingValue()
        }"
      >
        <lucide-angular size="23" [img]="Star"></lucide-angular>
      </div>
    </ng-container>
  </div>
  <div class="textarea-wrapper">
    <textarea
      [value]="contentValue()"
      (input)="handleChange($event)"
      placeholder="Share your experience with this restaurant..."
      spellcheck="false"
      maxlength="1024"
    ></textarea>
    <p class="counter">{{ contentValue()?.length }}/1024 characters</p>
    <button title="Clear" class="close-wrapper" (click)="clearContent()">
      <lucide-angular [img]="X" size="17"></lucide-angular>
    </button>
    <div class="alert-wrapper">
      <lucide-angular size="17" [img]="Alert"></lucide-angular>
      <p>Your review will be visible to all TasteTrial users.</p>
    </div>
  </div>
</app-dialog-menu>
