.tiles-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.tile {
  gap: 0.3rem;
  background-color: var(--card);
  border-radius: var(--radius);
  height: 10rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  border: 1px solid var(--border);
}

.icon-wrapper {
  padding: 0.8rem;
  border-radius: 50%;
}

.icon-wrapper.red {
  background-color: var(--error-background);
  color: var(--error-primary);
}

.icon-wrapper.yellow {
  background-color: var(--not-found-background);
  color: var(--not-found-secondary);
}

.icon-wrapper.green {
  background-color: var(--success-background);
  color: var(--success-primary);
}

.icon-wrapper.purple {
  background-color: var(--purple-background);
  color: var(--purple-primary);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--muted-foreground);
}

.tile:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .tiles-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .tiles-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
