.row {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.time {
  width: 8rem;
}

.separator {
  font-size: 0.9rem;
  color: var(--muted-foreground);
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
