<div class="container">
  <div class="image-wrapper">
    <img
      [src]="review?.images?.[0]?.url || 'https://placehold.co/1200x800'"
      alt=""
    />
    <div class="cusisine">
      {{
        review?.restaurant?.cuisineType?.charAt(0)?.toUpperCase() +
          review?.restaurant?.cuisineType?.slice(1)!.toLowerCase()
      }}
    </div>
    <div class="average">
      <lucide-angular size="14" [img]="Star"></lucide-angular>
      <p>{{ review?.restaurant?.averageRatings?.toPrecision(2) }}</p>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="header">
      <div class="title">
        <a routerLink="/">{{ review?.restaurant?.name }}</a>
        <span></span>
        <p>{{ review?.createdAt | date : "longDate" }}</p>
      </div>
      <div class="stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <svg
            [ngClass]="{
              filled: star <= review!.rating,
              empty: star > review!.rating
            }"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            />
          </svg>
        </ng-container>
      </div>
    </div>
    <div class="content-text">
      <p>{{ review?.content }}</p>
    </div>
    <div class="bottom">
      <div class="left-buttons">
        <button
          [disabled]="helpfulService.getIsLoading(review?.id || -1) | async"
          (click)="
            toggleHelpfulVote(
              review!,
              !review?.votedHelpfulByCurrentUser || false
            )
          "
          [ngClass]="{
            helpful: review?.votedHelpfulByCurrentUser,
            unhelpful: !review?.votedHelpfulByCurrentUser,
          }"
        >
          <lucide-angular size="15" [img]="Heart"></lucide-angular>
          <p class="helpful-info">Helpful ({{ review?.totalHelpfulVotes }})</p>
        </button>
        <app-review-edit-menu
          [isOwner]="isOwner"
          [review]="review"
        ></app-review-edit-menu>
      </div>
      <button (click)="handleReviewsMenuOpen()">
        Details<lucide-angular size="16" [img]="Arrow"></lucide-angular>
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="openDetailsMenu()"
  class="details-menu-wrapper"
  (click)="handleReviewsMenuClose()"
>
  <div class="detials-container" (click)="$event.stopPropagation()">
    <button class="close-icon-wrapper" (click)="handleReviewsMenuClose()">
      <lucide-angular size="18" [img]="X"></lucide-angular>
    </button>
    <div class="details-header">
      <div class="details-image-wrapper"></div>
      <div class="detials-info-container">
        <a routerLink="/" class="details-title">{{
          review?.restaurant?.name
        }}</a>
        <div class="detials-location-wrapper">
          <lucide-angular [img]="Pin" size="15"></lucide-angular>
          <p>{{ review?.restaurant?.address?.city }}</p>
        </div>
      </div>
    </div>
    <div class="stars-section">
      <div class="stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <div class="stars">
            <svg
              [ngClass]="{
                filled: star <= review!.rating,
                empty: star > review!.rating
              }"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              class="bi bi-star-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </div>
        </ng-container>
      </div>
    </div>
    <p class="detials-content">{{ review?.content }}</p>
    <div class="breakpoint"></div>
    <div class="details-footer">
      <div class="author-section">
        <span class="author"
          >Author:
          <a [routerLink]="'/profile/' + review?.createdBy?.username">{{
            review?.createdBy?.username
          }}</a></span
        >
        <p class="date">Published {{ review?.createdAt | date }}</p>
      </div>
      <div class="left-buttons">
        <button
          [disabled]="helpfulService.getIsLoading(review?.id || -1) | async"
          (click)="
            toggleHelpfulVote(
              review!,
              !review?.votedHelpfulByCurrentUser || false
            )
          "
          [ngClass]="{
            helpful: review?.votedHelpfulByCurrentUser,
            unhelpful: !review?.votedHelpfulByCurrentUser,
          }"
        >
          <lucide-angular size="15" [img]="Heart"></lucide-angular>
          <p class="helpful-info">Helpful ({{ review?.totalHelpfulVotes }})</p>
        </button>
        <app-review-edit-menu
          [isOwner]="isOwner"
          [review]="review"
        ></app-review-edit-menu>
      </div>
    </div>
  </div>
</div>
