.container {
  background-color: var(--card);
  border-radius: var(--radius);
  display: flex;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.container:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.09);
}

.image-wrapper {
  flex: 3;
  background-color: var(--muted);
  position: relative;
  max-height: 14rem;
}

.image-wrapper > img {
  max-height: 14rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cusisine {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: var(--foreground);
  background-color: var(--card);
  border-radius: var(--radius);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  user-select: none;
}

.average {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: var(--card);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  user-select: none;
  border-radius: var(--radius);
  background-color: var(--not-found-secondary);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.content-wrapper {
  flex: 6;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  gap: 1rem;
  justify-content: space-between;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: flex;
  align-items: center;
}

.empty {
  color: var(--border);
}

.filled {
  color: var(--gold-star);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.title > a {
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
}

.title > a:hover {
  text-decoration: underline;
}

.title > p {
  font-size: 0.8rem;
  color: var(--muted-foreground);
}

.content-text {
  font-size: 0.85rem;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ogranicza do 3 linii */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left-buttons > button {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--radius);
}

.left-buttons > button:hover {
  background-color: var(--muted);
}

.left-buttons > button.helpful {
  color: var(--primary);
}

.left-buttons > button.helpful:hover {
  background-color: var(--error-background);
}

.left-buttons > button:disabled {
  cursor: wait;
  opacity: 0.8;
}

.bottom > button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: var(--card);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  gap: 0.3rem;
}

.bottom > button:hover {
  background-color: var(--muted);
}

.textarea-wrapper:hover .close-wrapper {
  visibility: visible;
}

.close-wrapper:hover {
  background-color: var(--muted);
}

.star-review {
  cursor: pointer;
}

@media (max-width: 580px) {
  .container {
    flex-direction: column;
  }

  .image-wrapper {
    flex: 1;
    max-height: 12rem;
  }

  .image-wrapper > img {
    max-height: 12rem;
  }

  .content-wrapper {
    flex: 1;
  }
}

@media (max-width: 1100px) {
  .image-wrapper {
    flex: 2;
  }
}

@media (max-width: 900px) {
  .image-wrapper {
    flex: 3;
  }
}

@media (max-width: 600px) {
  .image-wrapper {
    flex: 4;
  }
}

.details-menu-wrapper {
  z-index: 999;
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detials-container {
  border: 1px solid var(--border);
  position: relative;
  background-color: var(--card);
  width: 100%;
  max-width: 35rem;
  animation: fadeInScale 0.1s ease-out;
  border-radius: var(--radius);
  border: solid 1px var(--border);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  text-align: start;
  max-height: 25rem;
  overflow-y: auto;
}

.close-icon-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--muted-foreground);
}

.close-icon-wrapper:hover {
  color: var(--foreground);
}

.details-header {
  display: flex;
  gap: 1rem;
}

.details-header > .details-image-wrapper {
  height: 5rem;
  width: 5rem;
  background-color: var(--muted);
  border-radius: var(--radius);
}

.detials-info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  gap: 0.4rem;
}

.details-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.details-title:hover {
  text-decoration: underline;
}

.detials-location-wrapper {
  display: flex;
  align-items: center;
  color: var(--muted-foreground);
  gap: 0.2rem;
}

.detials-location-wrapper > p {
  font-size: 0.85rem;
}

.stars-section {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.stars-section > p {
  color: var(--muted-foreground);
  font-size: 0.9rem;
}

.breakpoint {
  width: 100%;
  height: 5px;
  background-color: red;
}

.details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-section {
  display: flex;
  flex-direction: column;
}

.author-section > .author {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  gap: 0.2rem;
}

.author-section > .author > a {
  cursor: pointer;
}

.author-section > .author > a:hover {
  text-decoration: underline;
}

.author-section > .date {
  font-size: 0.8rem;
  color: var(--muted-foreground);
}

.detials-content {
  font-size: 0.95rem;
  font-weight: 400;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
