<div class="container">
  <div class="image-wrapper">
    <div class="cusisine">
      {{
        review?.restaurant?.cuisineType?.charAt(0)?.toUpperCase() +
          review?.restaurant?.cuisineType?.slice(1)!.toLowerCase()
      }}
    </div>
  </div>
  <div class="content-wrapper">
    <div class="header">
      <div class="title">
        <span>{{ review?.restaurant?.name }}</span>
        <p>{{ review?.createdAt | date : "longDate" }}</p>
      </div>
      <div class="stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <lucide-angular
            size="19"
            [img]="Star"
            [ngClass]="{
              filled: star <= review!.rating,
              empty: star > review!.rating
            }"
          >
          </lucide-angular>
        </ng-container>
      </div>
    </div>
    <div class="content-text">
      <p>{{ review?.content }}</p>
    </div>
    <div class="bottom">
      <div class="left-buttons">
        <button
          [ngClass]="{
            helpful: review?.votedHelpfulByCurrentUser,
            unhelpful: !review?.votedHelpfulByCurrentUser
          }"
        >
          <lucide-angular size="15" [img]="Heart"></lucide-angular>
          <p>Helpful ({{ review?.totalHelpfulVotes }})</p>
        </button>
        <button *ngIf="isOwner">
          <lucide-angular size="15" [img]="Edit"></lucide-angular>
          <p>Edit</p>
        </button>
      </div>
      <a>Restaurant<lucide-angular size="16" [img]="Arrow"></lucide-angular></a>
    </div>
  </div>
</div>
