<form [formGroup]="form">
  <app-current-step-info [currentStep]="step()"></app-current-step-info>
  <div class="wrapper">
    @switch (step()) { @case (1) {
    <app-form-step-1
      [form]="stepGroup('step1')"
      [cuisines]="cuisines"
    ></app-form-step-1>
    } @case (2) {
    <app-form-step-2 [form]="stepGroup('step2')"></app-form-step-2>
    } @case (3) {
    <app-form-step-3 [form]="stepGroup('step3')"></app-form-step-3>
    } @case (4) {
    <div>4</div>
    } }
  </div>
  <div class="buttons">
    <button
      [disabled]="step() === 1"
      class="secondary"
      (click)="prevStep($event)"
    >
      <lucide-angular size="18" [img]="left"></lucide-angular>
      <p>Previous</p></button
    ><button
      [disabled]="step() === 4"
      class="primary"
      (click)="nextStep($event)"
    >
      <p>Next</p>
      <lucide-angular size="18" [img]="right"></lucide-angular>
    </button>
  </div>
</form>

<ng-template #first>xd</ng-template>
