<div class="navbar-container">
  <div class="navbar-inner-container">
    <a routerLink="/" (click)="handleMenuClick(true)"><h3>TasteTrial</h3></a>
    <div class="desktop-links">
      <a routerLink="" class="link"><p>Home</p></a>
      <a
        *ngIf="user$ | async as user"
        [routerLink]="'/profile/' + user.username"
        class="link"
        ><p>Profile</p></a
      >
      <a routerLink="Restaurants" class="link"><p>Restaurants</p></a>
    </div>
    <div
      *ngIf="(user$ | async) === null && (isLoading$ | async) === false"
      class="button-container"
    >
      <app-loading-button
        text="Login"
        type="secondary"
        (clicked)="onClick('login')"
      ></app-loading-button>
      <app-loading-button
        text="Register"
        type="primary"
        (clicked)="onClick('register')"
      ></app-loading-button>
    </div>
    <ng-container *ngIf="user$ | async as user">
      <button
        *ngIf="!(isLoading$ | async)"
        class="avatar"
        (click)="handleDropdownClick()"
      >
        <p *ngIf="!user.profileImage?.url">{{ user.username.slice(0, 2) }}</p>
        <img
          *ngIf="user.profileImage?.url"
          [src]="user.profileImage?.url"
          alt="profile image"
        />
        <div class="dropdown" *ngIf="isDropdownOpen()">
          <a [routerLink]="'/profile/' + user.username">{{
            "@" + user.username
          }}</a>
          <button (click)="handleLogout()">Logout</button>
        </div>
      </button>
    </ng-container>
    <div class="loader-wrapper" *ngIf="isLoading$ | async">
      <lucide-angular [img]="Loader2"></lucide-angular>
    </div>
    <app-icon-button
      class="icon-button"
      [type]="!isMenuOpen() ? 'menu' : 'x'"
      (click)="handleMenuClick()"
    ></app-icon-button>
  </div>
</div>
<div class="mobile-menu-container" [class.open]="isMenuOpen()">
  <ul class="links">
    <a routerLink="/" (click)="handleMenuClick()">
      <li class="link">Home</li>
    </a>
    <a routerLink="/" (click)="handleMenuClick()">
      <li class="link">Restaurants</li>
    </a>
    <a routerLink="/" (click)="handleMenuClick()">
      <li class="link">Add review</li>
    </a>
    <ng-container *ngIf="user$ | async as user">
      <a [routerLink]="'/profile/' + user.username" (click)="handleMenuClick()">
        <li class="link">Profile</li>
      </a>
    </ng-container>
    <div class="mobile-button-container">
      <app-loading-button
        *ngIf="!(user$ | async)"
        text="Login"
        type="secondary"
        (clicked)="onClick('login')"
      ></app-loading-button>
      <app-loading-button
        *ngIf="!(user$ | async)"
        text="Register"
        type="primary"
        (clicked)="onClick('register')"
      ></app-loading-button>
      <app-loading-button
        *ngIf="user$ | async"
        text="Logout"
        type="secondary"
        [loading]="(isLogginOutLoading$ | async) ?? false"
        (clicked)="handleLogout()"
      ></app-loading-button>
    </div>
  </ul>
</div>
