<div [formGroup]="form" class="form">
  <div class="header">
    <lucide-angular [img]="utensils" size="18"></lucide-angular>
    <p>Basic Information</p>
  </div>

  <div class="grid">
    <div class="column">
      <label for="name">Restaurant Name *</label>
      <input
        id="name"
        type="text"
        placeholder="Enter restaurant name"
        formControlName="name"
      />
      <p
        class="error"
        *ngIf="
          form.get('name')?.touched && form.get('name')?.hasError('required')
        "
      >
        Name is required
      </p>
    </div>

    <div class="column">
      <label for="dropdown">Cuisine Type *</label>
      <app-drop-down
        (selectionChange)="handleCuisineChange($event)"
        defaultValue="Select Cuisine"
        [options]="cuisines"
        [icon]="utensils"
      ></app-drop-down>
      <p
        class="error"
        *ngIf="
          form.get('cuisine')?.touched &&
          form.get('cuisine')?.hasError('required')
        "
      >
        Cuisine is required
      </p>
    </div>

    <div class="column">
      <label for="phone">Phone number</label>
      <input
        id="phone"
        type="tel"
        placeholder="Enter phone number"
        formControlName="phoneNumber"
      />
      <p
        class="error"
        *ngIf="
          form.get('phoneNumber')?.touched &&
          form.get('phoneNumber')?.hasError('pattern')
        "
      >
        Invalid phone number
      </p>
    </div>

    <div class="column">
      <label for="website">Website Url</label>
      <input
        id="website"
        placeholder="Enter website url"
        type="url"
        formControlName="website"
      />
      <p
        class="error"
        *ngIf="
          form.get('website')?.touched &&
          form.get('website')?.hasError('pattern')
        "
      >
        Invalid website url
      </p>
    </div>
  </div>

  <div class="column">
    <label for="description">Description *</label>
    <textarea
      id="description"
      placeholder="Describe the restaurant, its atmosphere, specialties, and what makes it unique..."
      formControlName="description"
      maxlength="500"
    ></textarea>
    <p
      class="error"
      *ngIf="
        form.get('description')?.touched &&
        form.get('description')?.hasError('required')
      "
    >
      Description is required
    </p>
    <p *ngIf="form.value['description']?.length > 0" class="counter">
      {{ form.value["description"].length }}/500 characters
    </p>
  </div>
</div>
