<section>
  <h2>Login to TasteTrial</h2>
  <p>Enter your credentials to get access</p>
  <form class="card" [formGroup]="loginForm">
    <div class="input-wrapper">
      <label for="username">Username</label>
      <div class="input-box">
        <input
          id="username"
          type="text"
          formControlName="username"
          autocomplete="additional-name"
        />
      </div>
      <div *ngIf="username.invalid && username.touched">
        <p class="error-message" *ngIf="username.errors?.['required']">
          Username is required
        </p>
      </div>
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <div class="input-box">
        <input
          id="password"
          [type]="hideText() ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
        />
        <div
          *ngIf="hideText()"
          class="button-wrapper"
          (click)="handleSwitchHideText()"
        >
          <lucide-angular [img]="Lock" size="15"></lucide-angular>
        </div>
        <div
          *ngIf="!hideText()"
          class="button-wrapper"
          (click)="handleSwitchHideText()"
        >
          <lucide-angular [img]="LockOpen" size="15"></lucide-angular>
        </div>
      </div>
      <div *ngIf="password.invalid && password.touched">
        <p class="error-message" *ngIf="password.errors?.['required']">
          Password is required
        </p>
        <p class="error-message" *ngIf="password.errors?.['minlength']">
          Password must be at least 6 characters
        </p>
      </div>
    </div>
    <app-loading-button
      [loading]="(isLoading$ | async) ?? false"
      text="Login"
      (clicked)="handleClick()"
    ></app-loading-button>
    <div class="login-footer">
      <p>Don't have an account?</p>
      <a routerLink="/register">Register</a>
    </div>
  </form>
</section>
