<section>
  <h2>Login to TasteTrial</h2>
  <p>Enter your credentials to get access</p>
  <form class="card" [formGroup]="loginForm">
    <app-custom-input
      labelText="Username"
      id="username"
      type="text"
      [value]="username()"
      (onValueChange)="username.set($event)"
    ></app-custom-input>
    <app-custom-input
      labelText="Password"
      id="password"
      [showHidePasswordButton]="true"
      [value]="password()"
      (onValueChange)="password.set($event)"
    ></app-custom-input>
    <app-loading-button
      text="Login"
      (clicked)="handleClick()"
    ></app-loading-button>
  </form>
  <p *ngIf="loginForm.valid"></p>
  <div class="login-footer">
    <p>Don't have an account?</p>
    <a routerLink="/register">Register</a>
  </div>
</section>
