.error-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--background);
  padding: 1rem;
}

.alert-icon-wrapper {
  margin-top: 10rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: var(--error-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

lucide-angular {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--error-primary);
}

.subtitle {
  color: var(--muted-foreground);
  max-width: 28rem;
  text-align: center;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

button,
a {
  font-size: 0.9rem;
  text-align: center;
  border-radius: var(--radius);
  padding: 0.8rem 0rem;
  max-width: 25rem;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.retry-button {
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.return-button {
  border: 1px solid var(--border);
  background-color: var(--card);
}

.retry-button > lucide-angular {
  color: var(--background);
}
