<div class="input-wrapper">
  <label *ngIf="labelText" for="{{ id }}">{{ labelText }}</label>
  <div class="input-box">
    <input
      [value]="value"
      (input)="onChange($event)"
      [id]="id"
      [type]="hideText() && showHidePasswordButton ? 'password' : 'text'"
      [placeholder]="placeholder"
      [ngClass]="{ password: showHidePasswordButton }"
    />
    <div
      *ngIf="showHidePasswordButton && hideText()"
      class="button-wrapper"
      (click)="handleSwitchHideText()"
    >
      <lucide-angular [img]="Lock" size="15"></lucide-angular>
    </div>
    <div
      *ngIf="showHidePasswordButton && !hideText()"
      class="button-wrapper"
      (click)="handleSwitchHideText()"
    >
      <lucide-angular [img]="LockOpen" size="15"></lucide-angular>
    </div>
  </div>
</div>
