<ng-container *ngIf="isError$ | async; else content">
  <app-resource-error-page
    title="Failed to Load Restaurants"
    subtitle="There was a problem retrieving the restaurantsata. Please check your internet connection and try again."
  ></app-resource-error-page>
</ng-container>

<ng-template #content>
  <section>
    <div class="restaurants-container">
      <div class="header">
        <h2>Discover Restaurants</h2>
        <p>
          Find great places to dine and share your experiences with the
          community
        </p>
      </div>
      <app-filter [cuisines]="cuisines" [orderBy]="orderBy"></app-filter>

      <ng-container *ngIf="isLoading$ | async; else restaurants">
        loading
      </ng-container>

      <ng-template #restaurants>
        <div class="restaurants-grid">
          <ng-container *ngFor="let restaurant of restaurants$ | async">
            <app-restaurant-card
              [restaurant]="restaurant"
            ></app-restaurant-card>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </section>
</ng-template>
