<button class="container" (click)="handleOpenChange()">
  <div class="values">
    <lucide-angular [img]="icon" size="16"></lucide-angular>
    <p>{{ displayValue }}</p>
  </div>
  <lucide-angular
    [ngClass]="{ active: isOpen() }"
    size="16"
    [img]="ArrowDown"
  ></lucide-angular>
  <div class="dropdown-menu" *ngIf="isOpen()">
    <ul>
      <li (click)="reset()">{{ defaultValue }}</li>
      <ng-container *ngFor="let option of options">
        <li (click)="selectOption(option)">
          {{ option }}
          <lucide-angular
            size="16"
            [img]="CheckIcon"
            *ngIf="activeOption().includes(option)"
          ></lucide-angular>
        </li>
      </ng-container>
    </ul>
  </div>
</button>
