.container {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 100%;
}

.container:hover {
  background-color: var(--muted);
}

.container:has(.dropdown-menu) {
  background-color: var(--card);
}

.values {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.values > p {
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
}

.container > lucide-angular {
  transition: transform 0.3s ease;
}

.container > lucide-angular.active {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  animation: fadeInScale 0.1s ease-out;
  max-height: 15rem;
  overflow-y: auto;
}

.dropdown-menu ul {
  text-align: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu li:first-child {
  margin-top: 0.3rem;
}

.dropdown-menu li:last-child {
  margin-bottom: 0.3rem;
}

.dropdown-menu li:hover {
  background-color: var(--muted);
  border-radius: 0.3rem;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
