<ng-container *ngIf="isError$ | async; else loadingOrContent">
  <app-resource-error-page
    title="Failed to Load Profile"
    subtitle="There was a problem retrieving the profile data. Please check your internet connection and try again."
    (onClick)="handleReload()"
  ></app-resource-error-page>
</ng-container>

<ng-template #loadingOrContent>
  <ng-container *ngIf="isLoading$ | async; else content">
    <section>
      <div class="skeleton-images-wrapper">
        <app-skeleton customClass="cover-image-skeleton"></app-skeleton>
        <div class="profile-image-skeleton-wrapper">
          <app-skeleton customClass="profile-image-skeleton"></app-skeleton>
        </div>
      </div>
      <div class="profile-info-skeleton">
        <app-skeleton customClass="username-skeleton"></app-skeleton>
        <app-skeleton customClass="date-skeleton"></app-skeleton>
        <app-skeleton customClass="description-skeleton"></app-skeleton>
        <app-skeleton customClass="description-skeleton"></app-skeleton>
        <app-skeleton customClass="description-skeleton"></app-skeleton>
        <app-skeleton customClass="description-skeleton"></app-skeleton>
      </div>
    </section>
  </ng-container>
</ng-template>

<ng-template #content>
  <ng-container *ngIf="user$ | async as user; else noUser">
    <section>
      <app-images [user]="user" [isOwner]="isOwner"></app-images>
      <div class="profile-info-container">
        <div class="profile-info-subinfo">
          <h2>{{ user.username }}</h2>
          <div class="joined-date-wrapper">
            <lucide-angular size="15" [img]="Calendar"></lucide-angular>
            <p class="joined-date">
              Joined {{ user.createdAt | date : "longDate" }}
            </p>
          </div>
        </div>

        <div *ngIf="user.profileDescription" class="description-wrapper">
          <p>{{ user.profileDescription }}</p>
        </div>
        <ng-container *ngIf="isOwner">
          <app-dialog-menu
            openButtonText="Edit Description"
            title="Edit Profile Description"
            subTitle="Update your profile description to tell others about yourself."
            [action]="handleDescriptionSave.bind(this)"
            (onClose)="handleReset()"
            [loading]="(isDescriptionChanging$ | async) ?? false"
          >
            <div class="textarea-wrapper">
              <textarea
                [value]="descriptionValue()"
                (input)="handleChange($event)"
                placeholder="Write something about yourself..."
                spellcheck="false"
                maxlength="250"
              ></textarea>
              <p class="counter">{{ descriptionValue()?.length }}/250</p>
              <button class="close-wrapper" (click)="descriptionValue.set('')">
                <lucide-angular [img]="X" size="17"></lucide-angular>
              </button>
            </div>
          </app-dialog-menu>
        </ng-container>
      </div>
      <app-tiles [user]="user$ | async"></app-tiles>
      <app-reviews-section [isOwner]="isOwner"></app-reviews-section>
    </section>
  </ng-container>
</ng-template>

<ng-template #noUser>
  <app-resource-not-found-page
    title="Profile Not Found"
    subtitle="We couldn't find the profile you're looking for. The user with the specified ID doesn't exist in our database."
  ></app-resource-not-found-page
></ng-template>
