<div [formGroup]="form" class="form">
  <div class="header">
    <lucide-angular [img]="location" size="18"></lucide-angular>
    <p>Location & Address</p>
  </div>

  <div class="grid">
    <div class="column">
      <label for="streetName">Street Name *</label>
      <input
        id="streetName"
        type="text"
        placeholder="Enter street name"
        formControlName="streetName"
      />
      <p
        class="error"
        *ngIf="
          form.get('streetName')?.touched &&
          form.get('streetName')?.hasError('required')
        "
      >
        Street name is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('streetName')?.touched &&
          form.get('streetName')?.hasError('minLength')
        "
      >
        Invalid street name pattern
      </p>
    </div>
    <div class="column">
      <label for="streetNumber">Street Number *</label>
      <input
        id="streetNumber"
        type="text"
        placeholder="Enter street number"
        formControlName="streetNumber"
      />
      <p
        class="error"
        *ngIf="
          form.get('streetNumber')?.touched &&
          form.get('streetNumber')?.hasError('required')
        "
      >
        Street number is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('streetNumber')?.touched &&
          form.get('streetNumber')?.hasError('pattern')
        "
      >
        Invalid street number pattern
      </p>
    </div>
    <div class="column">
      <label for="city">City *</label>
      <input
        id="city"
        type="text"
        placeholder="Enter city"
        formControlName="city"
      />
      <p
        class="error"
        *ngIf="
          form.get('city')?.touched && form.get('city')?.hasError('required')
        "
      >
        City is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('city')?.touched && form.get('city')?.hasError('pattern')
        "
      >
        Invalid city name
      </p>
    </div>
    <div class="column">
      <label for="state">State *</label>
      <input
        id="state"
        type="text"
        placeholder="Enter state"
        formControlName="state"
      />
      <p
        class="error"
        *ngIf="
          form.get('state')?.touched && form.get('state')?.hasError('required')
        "
      >
        State is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('state')?.touched && form.get('state')?.hasError('pattern')
        "
      >
        Invalid state
      </p>
    </div>
    <div class="column">
      <label for="postalCode">Postal Code *</label>
      <input
        id="postalCode"
        type="text"
        placeholder="Enter postal code"
        formControlName="postalCode"
      />
      <p
        class="error"
        *ngIf="
          form.get('postalCode')?.touched &&
          form.get('postalCode')?.hasError('required')
        "
      >
        Postal code is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('postalCode')?.touched &&
          form.get('postalCode')?.hasError('pattern')
        "
      >
        Invalid postal code
      </p>
    </div>
    <div class="column">
      <label for="country">Country *</label>
      <input
        id="country"
        type="text"
        placeholder="Enter country"
        formControlName="country"
      />
      <p
        class="error"
        *ngIf="
          form.get('country')?.touched &&
          form.get('country')?.hasError('required')
        "
      >
        Country is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('country')?.touched &&
          form.get('country')?.hasError('pattern')
        "
      >
        Invalid country
      </p>
    </div>
    <div class="divider"></div>
    <p class="coordinates">GPS Coordinates</p>
    <div class="column">
      <label for="latitude">Latitude *</label>
      <input
        id="latitude"
        type="number"
        placeholder="Enter latitude"
        formControlName="latitude"
      />
      <p
        class="error"
        *ngIf="
          form.get('latitude')?.touched &&
          form.get('latitude')?.hasError('required')
        "
      >
        Latitude is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('latitude')?.touched &&
          form.get('latitude')?.hasError('pattern')
        "
      >
        Invalid latitude
      </p>
      <p
        class="error"
        *ngIf="
          form.get('latitude')?.touched && form.get('latitude')?.hasError('min')
        "
      >
        The latitude value cannot be less than -90
      </p>
      <p
        class="error"
        *ngIf="
          form.get('latitude')?.touched && form.get('latitude')?.hasError('max')
        "
      >
        The latitude value cannot be greater than 90
      </p>
    </div>
    <div class="column">
      <label for="longitude">Longitude *</label>
      <input
        id="longitude"
        type="number"
        placeholder="Enter country"
        formControlName="longitude"
      />
      <p
        class="error"
        *ngIf="
          form.get('longitude')?.touched &&
          form.get('longitude')?.hasError('required')
        "
      >
        Longitude is required
      </p>
      <p
        class="error"
        *ngIf="
          form.get('longitude')?.touched &&
          form.get('longitude')?.hasError('pattern')
        "
      >
        Invalid longitude
      </p>
      <p
        class="error"
        *ngIf="
          form.get('longitude')?.touched &&
          form.get('longitude')?.hasError('min')
        "
      >
        The longitude value cannot be less than -180
      </p>
      <p
        class="error"
        *ngIf="
          form.get('longitude')?.touched &&
          form.get('longitude')?.hasError('max')
        "
      >
        The longitude value cannot be greater than 180
      </p>
    </div>
  </div>
</div>
